body{
    background-color: rgb(61, 60, 60);
    margin: 0;
    padding: 0;   
}
#ha{
    display: flex;
    width: 100%;
    height: 100px;

}
.ha1{
    width: 60%;
    height: 100px;
    margin-left: 50px;
    color: white;
}
#ha2{
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: 30px;
}
#ha3{
    display: flex;
    margin-left: 500px;
}
.ha4{
    margin-left: 100px;
    margin-top: 50px;
}